# For running VBPR
lightfm
matplotlib
numpy
plotly
scikit-learn
scipy

# Extra, for downloading data
tqdm
sqlalchemy
jsonlines

# For feature extraction
pandas
torch
torchvision
torchaudio
transformers
accelerate

# Extra dependencies for monitoring
nvidia-ml-py3

# For the CLIP model
ftfy
regex
tqdm
CLIP @ git+https://github.com/openai/CLIP.git

# For searching with ElasticSearch
elasticsearch-dsl
elasticsearch
