# For running VBPR
lightfm
matplotlib
numpy
plotly
scikit-learn
scipy

# Extra, for downloading data
tqdm
sqlalchemy
jsonlines

# For feature extraction
torch
torchvision
torchaudio

# Extra dependencies for data manipulation
pandas
